.popup {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    position: fixed;

    background-color: rgba(0,0,0,.5);
    font-family: 'Inter', 'Arial', sans-serif;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s linear, visibility .4s linear;
}