.popup__form-input {
    margin: 30px 0 0 0;
    padding: 0 0 13px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border-width: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-input:focus {
    outline: none;
}
.popup__form-input:first-of-type {
    margin-top: 54px;
}

@media screen and (max-width: 700px) {
    .popup__form-input:first-of-type {
        margin-top: 75px;
    }
}