.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../../../images/trash.svg");
    z-index: 1;
    width: 18px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.element__delete:hover {
    opacity: 0.6;
    transition: opacity .5s ease-in-out;
}