.popup__form-submit {
    margin-top: 48px;
    height: 50px;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;

    background: #000000;
    border-radius: 2px;
    border-width: 0px;
    cursor: pointer;
}

.popup__form-submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .popup__form-submit {
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}