.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    padding: 0;
    align-self: end;
    margin: 0 0 0 30px;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__title {
        margin-left: 0;
        font-size: 27px;
        line-height: 33px;
        max-width: 250px;
    }
}