.elements {
    margin-top: 51px;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 17px;
    grid-template-columns: repeat(3, calc((100% - 34px) / 3));
}

@media screen and (max-width: 930px){
    .elements {
        margin-left: 19px;
        margin-right: 19px;
    }
}

@media screen and (max-width: 768px){
    .elements {
        margin-top: 36px;
        grid-template-columns: repeat(2, calc((100% - 17px) / 2));
    }
}

@media screen and (max-width: 500px){
    .elements {
        grid-template-columns: 100%;
    }
}