.profile__plus-button {
    min-width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;

    background-image: url("../../../images/add-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.profile__plus-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 940px) {
    .profile__plus-button {
        margin-right: 19px;
    }
}

@media screen and (max-width: 700px) {
    .profile__plus-button {
        width: calc(100% - 38px);
        margin: 36px 19px 0 19px;
    }
}